<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache-Control">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Emmanuel Greco - Portfolio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">Emmanuel <span>Greco</span></a>

        <nav class="navbar">            
                <a href="#home" class="active">Home</a>
                <a href="#sobreMi">Sobre Mí</a>
                <a href="#proyectos">Proyectos</a>
                <a href="#tecnologias">Tecnologías</a>
                <a href="#estudios">Estudios</a>
                <a href="#certificados">Certificados</a>
                <a href="#contacto">Contacto</a>
        </nav>
    </header>




    <!-- <header>
        <div class="container">
            <nav>
                <img class="logo" src="../assets/">
            </nav>
        </div>        
    </header>-->
</body>
</html>